{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Assignments</title>
{% endblock title %}

{% block content %}

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            {% include 'staff/dashboard_includes/left_navbar.html' %}

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                
                <!-- Notifications Dropdown Menu -->
                {% include 'staff/dashboard_includes/notifications_dropdown.html' %}
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include 'staff/dashboard_includes/main_sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Assignments</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'staff:dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item active">Assignments</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-solid" style='width: 100%;'>
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <!-- Filter  -->
                                    <div class='d-flex flex-wrap flex-grow-1'>
                                        <select class="custom-select d-flex flex-grow-1 flex-md-grow-0 m-1 m-lg-2"
                                            style="width: auto;" name='course' id='assignments-filter-by-course'>
                                            <option value="" selected>Sort by Course</option>
                                            {% for course in courses %}
                                            <option value='{{ course.id }}'>{{ course.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="custom-select d-flex flex-grow-1 flex-md-grow-0 m-1 m-lg-2"
                                            style="width: auto;" name='subject' id='assignments-filter-by-subject'>
                                            <option value="" selected>Sort by Subject</option>
                                            {% for subject in subjects %}
                                            <option value='{{ subject.id }}'>{{ subject.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="custom-select d-flex flex-grow-1 flex-md-grow-0 m-1 m-lg-2"
                                            style="width: auto;" name='session' id='assignments-filter-by-session'>
                                            <option value="" selected>Sort by Session Year</option>
                                            {% for session_year in session_years %}
                                            <option value='{{ session_year.id }}'>{{ session_year }}</option>
                                            {% endfor %}
                                        </select>    
                                        <div class="btn-group d-flex flex-grow-1 flex-md-grow-0 m-1 m-lg-2">
                                            <button type="submit" name='filter' class="btn btn-default"
                                            id='assignments-filter'>Filter</button>
                                        </div>
                                    </div>
                                    <!-- Search  -->
                                    <div class="card-tools d-flex flex-grow-1 flex-md-grow-0 mx-1 mx-lg-2 my-3 my-lg-2"
                                        style="min-width: 280px; min-height: 38px;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="table_search" class="form-control float-right"
                                                style="height: 100%;" id='assignment-search' placeholder="Search by Deadline 'yyyy-mm-dd'">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!-- Table -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap" id='assignment-table'>
                                        <thead>
                                            <tr>
                                                <th>Course</th>
                                                <th>Subject</th>
                                                <th>Session Year</th>
                                                <th>Deadline</th>
                                                <th>Assignment</th>
                                                <th>Submitted</th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% include 'staff/includes/partial_assignment_list.html' %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div id='assignment-paginator'>
                                    {% include 'adminhod/includes/partial_assignment_pagination.html' %}
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Assignment Modal -->
        <div class="modal fade" id="modal-assignment">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- Footer Container -->
        {% include 'adminhod/dashboard_includes/footer.html' %}

    </div>
    <!-- ./wrapper -->

    <!-- scripts -->
    {% include 'staff/scripts_includes/manage_assignment_js.html' %}

</body>

{% endblock content %}