{% load staff_tags %}
{% load pagination_tags %}

<!-- Default box -->
<div class="card card-solid card-full-height position-relative">
    <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">
        {% for staff in staffs %}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="lead"><b>{{ staff.user.full_name|title }}</b></h2>
                            {% staff_subjects staff as staff_subjects %}
                            <p class="text-muted text-sm"><b>Subjects: </b>
                                {% for subject in staff_subjects %}
                                {{ subject }}
                                {% if not forloop.last %} / {% endif %}
                                {% endfor %}
                            </p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                    <span class="fa-li" style="line-height: 1.25;">
                                        <i class="fas fa-lg fa-envelope"></i>
                                    </span><b>Email:
                                    </b>{{ staff.user.email }}
                                </li>
                                <li class="small"><span class="fa-li" style="line-height: 1.25;"><i
                                            class="fas fa-lg fa-phone-alt"></i></span><b>Phone:
                                    </b>{{ staff.phone }}</li>
                            </ul>
                        </div>
                        <div class="col-5 text-center">
                            <img src="{{ staff.photo.url }}" alt="" class="img-circle profile-contact-img">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a href="#" class="btn btn-sm bg-teal">
                            <i class="fas fa-comments"></i>
                        </a>
                        <a href="{{ staff.get_absolute_url }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-user"></i> View Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="error-page justify-content-center my-5 py-5">
            <div class="error-content text-center ml-0 my-5 py-5">
                <h3 class="mb-0"><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Staff not Found.</h3>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
        {% endfor %}
        </div>
    </div>
    <div class="loading">
        <div class="loader spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>    

    <!-- /.card-body -->
    {% if staffs.has_other_pages %}
    <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                {% if staffs.has_previous %}
                <li class="page-item">
                    <button class="page-link"
                        data-href="{% relative_url staffs.previous_page_number request.GET.urlencode %}">&laquo;</button>
                </li>
                {% endif %}
                {% for i in staffs.paginator.page_range %}
                {% if staffs.number == i %}
                <li class="page-item active"><button class="page-link"
                        data-href="{% relative_url i request.GET.urlencode %}">{{ i }}</button></li>
                {% elif i > staffs.number|add:'-3' and i < staffs.number|add:'3' %}
                <li class="page-item"><button class="page-link"
                        data-href="{% relative_url i request.GET.urlencode %}">{{ i }}</button></li>
                {% endif %}
                {% endfor %}
                {% if staffs.has_next %}
                <li class="page-item">
                    <button class="page-link"
                        data-href="{% relative_url staffs.next_page_number request.GET.urlencode %}">&raquo;</button>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    <!-- /.card-footer -->
</div>
<!-- /.card -->