   <!-- Profile Image -->
   <div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                src="{{ student.photo.url }}" alt="User profile picture">
        </div>
        <h3 class="profile-username text-center">{{ student.user.full_name|title }}</h3>
        <p class="text-muted text-center">{{ student.course.name }} Student</p>
        {% if request.user != student.user %}
        <a href="#" class="btn btn-primary btn-block"><b>Send Message</b></a>
        {% endif %}
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<!-- About Me Box -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">About Me</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
        <p class="text-muted">{{ student.user.email }}</p>
        <hr>
        <strong><i class="fas fa-calendar-alt mr-1"></i> Birth Date</strong>
        <p class="text-muted">{{ student.birth_date }}</p>
        <hr>
        <strong><i class="fas fa-male"></i><i class="fas fa-female mr-1"></i> Gender</strong>
        <p class="text-muted">{{ student.gender|title }}</p>
        <hr>
        <strong><i class="fas fa-flag mr-1"></i> Nationality</strong>
        <p class="text-muted"><img src='{{ student.nationality.flag }}'/> {{ student.nationality }}</p>
        <hr>
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>
        <p class="text-muted">{{ student.address }}</p>
        <hr>
        <strong><i class="fas fa-phone-alt mr-1"></i> Phone</strong>
        <p class="text-muted">{{ student.phone }}</p>
        <hr>
        <strong><i class="fas fa-book mr-1"></i> Education</strong>
        <p class="text-muted">
            {% if student.education %}
            {{ student.education }}
            {% else %}
            Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text for everyone from bacon lovers to Charlie Sheen fans.</p>   
            {% endif %}
        <hr>
        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
        <p class="text-muted">
            {% if student.skills %}
            {{ student.skills }}
            {% else %}
            Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text for everyone from bacon lovers to Charlie Sheen fans.</p>
            {% endif %}
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->