{% load static %}
{% load dashboard_tags %}

{% url 'adminhod:dashboard' as dashboard %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ dashboard }}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span title='Student Management System' class="brand-text font-weight-light">SMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.full_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                
                <li class="nav-item">
                    <a href="{{ dashboard }}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Home</p>
                    </a>
                </li>          
                {% url 'adminhod:add-staff' as add_staff %} 
                {% url 'adminhod:manage-staff' as manage_staff %}
                {% is_in request.path add_staff manage_staff as staff_active %}   
                <li class="nav-item has-treeview {% if staff_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if staff_active %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>
                            Staff
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Staff</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Staff</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'adminhod:add-student' as add_student %} 
                {% url 'adminhod:manage-student' as manage_student %}
                {% is_in request.path add_student manage_student as student_active %}  
                <li class="nav-item has-treeview {% if student_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if student_active %} active {% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                            Students
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Students</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Students</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'course:add-course' as add_course %} 
                {% url 'course:manage-course' as manage_course %}
                {% url 'course:add-subject' as add_subject %} 
                {% url 'course:manage-subject' as manage_subject %}
                {% is_in request.path add_course manage_course add_subject manage_subject as course_active %}
                <li class="nav-item has-treeview {% if course_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if course_active %} active {% endif %}">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Courses
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Courses</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_course }}" class="nav-link {% if request.path == manage_course %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Courses</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ add_subject }}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Subjects</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Subjects</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'adminhod:add-session' as add_session %} 
                {% url 'adminhod:manage-session' as manage_session %}
                {% is_in request.path add_session manage_session as session_active %}  
                <li class="nav-item has-treeview {% if session_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if session_active %} active {% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Sessions
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Sessions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Sessions</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'announcement-adminhod:add-announcements' as add_announcements %} 
                {% url 'announcement-adminhod:view-announcements' as view_announcements %}
                {% is_in request.path add_announcements view_announcements as announcements_active %}
                <li class="nav-item has-treeview {% if announcements_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if announcements_active %} active {% endif %}">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Announcements
                            <i class="fas fa-angle-left right"></i>
                            {% if count_announcements %}
                                <span class="badge badge-info right">
                                    {{ count_announcements }}
                                </span>
                            {% endif %}
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ add_announcements }}" class="nav-link {% if request.path == add_announcements %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Announcements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ view_announcements }}" class="nav-link {% if request.path == view_announcements %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Announcements</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'assignment-adminhod:view-assignments' as view_assignments %}
                {% url 'assignment-adminhod:view-submitted-assignments' assignment.slug as view_submitted_assignments %}
                {% is_in request.path view_assignments view_submitted_assignments as assignment_active %}     
                <li class="nav-item has-treeview {% if assignment_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if assignment_active %} active {% endif %}">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Assignments
                            <i class="fas fa-angle-left right"></i>
                            {% if count_assignments %}
                                <span class="badge badge-info right">
                                    {{ count_assignments }}
                                </span>
                            {% endif %}
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ view_assignments }}" class="nav-link {% if assignment_active %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Assignments</p>
                            </a>
                        </li>
                    </ul>
                </li>         
                {% url 'result-adminhod:view-student-results' as student_results %} 
                {% is_in request.path student_results as results_active %} 
                <li class="nav-item has-treeview {% if results_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if results_active %} active {% endif %}">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Results
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ student_results }}" class="nav-link {% if request.path == student_results %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Results</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'attendance-adminhod:view-student-attendance' as student_attendance %} 
                {% is_in request.path student_attendance as attendance_active %} 
                <li class="nav-item has-treeview {% if attendance_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if attendance_active %} active {% endif %}">
                        <i class="nav-icon fas fa-award"></i>
                        <p>
                            Attendance
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ student_attendance }}" class="nav-link {% if request.path == student_attendance %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Attendance</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'feedback-adminhod:view-staff-feedback' as staff_feedback %} 
                {% url 'feedback-adminhod:view-student-feedback' as student_feedback %}
                {% is_in request.path staff_feedback student_feedback as feedback_active %}   
                <li class="nav-item has-treeview {% if feedback_active %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if feedback_active %} active {% endif %}">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Feedback
                            <i class="fas fa-angle-left right"></i>
                            {% if total_feedback_count %}
                                <span class="badge badge-info right">
                                    {{ total_feedback_count }}
                                </span>
                            {% endif %}
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ staff_feedback }}" class="nav-link  {% if request.path == staff_feedback %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Feedback</p>
                                {% if count_staff_feedback %}
                                    <span class="badge badge-info right">
                                        {{ count_staff_feedback }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ student_feedback }}" class="nav-link  {% if request.path == student_feedback %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Feedback</p>
                                {% if count_student_feedback %}
                                    <span class="badge badge-info right">
                                        {{ count_student_feedback }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </li> 
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>