<!-- form start -->
<form role="form" action='{% url "course:update-course" form.instance.pk %}' method='POST' class="js-course-update-form">
    {% csrf_token %}
    <!-- modal header -->
    <div class="modal-header">
        <h4 class="modal-title">Update Course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- modal body -->
    <div class="modal-body">
        {% include 'course/includes/partial_course_form.html' %}
    </div>
    <!-- modal footer -->
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>