{% for feedback in feedbacks %}
<tr {% if feedback.reply is None %} class='text-danger'{% endif %}>
    <td>{{ feedback.created_at }}</td>
    <td>{{ feedback.staff.user.full_name }}</td>
    <td>{{ feedback.content|slice:":35" }} ...</td>
    {% if feedback.reply %}
    <td>{{ feedback.reply|slice:":35" }} ...</td>
    {% else %}
    <td>No Reply </td>
    {% endif %}
    <td>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-info js-reply-staff-feedback"
                data-url="{{ feedback.get_absolute_url_adminhod }}">
                <i class="fas fa-eye"></i>
            </button>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center bg-warning"><b>No Feedback</b></td>
</tr>
{% endfor %}