{% extends 'base.html' %}

{% block title %}
    <title>Change Password Done</title>
{% endblock title %}

{% block content %}
<body class="hold-transition login-page">
  <div class="login-box">
      <div class="login-logo">
          <b>Student</b> Management System
      </div>
      <!-- /.login-logo -->
      <div class="card">
          <div class="card-body login-card-body">
              <p class="login-box-msg">Your password has been changed successfully.</p>
              <p class="mt-2 mb-1 text-center">
                  {% if request.user.user_type == 'HOD' %}
                    <a href="{% url 'adminhod:dashboard' %}">Go back to Home again ? Click Here.</a>
                  {% elif request.user.user_type == 'STAFF' %}
                    <a href="{% url 'staff:dashboard' %}">Go back to Home again ? Click Here.</a>
                  {% elif request.user.user_type == 'STUDENT' %}
                    <a href="{% url 'student:dashboard' %}">Go back to Home again ? Click Here.</a> 
                  {% endif %}   
              </p>
          </div>
          <!-- /.login-card-body -->
      </div>
  </div>
  <!-- /.login-box -->

  <!-- scripts -->
  {% include 'scripts.html' %}

</body>
{% endblock content %}