{% extends 'base.html' %}

{% block title %}
    <title>Reset Password Done</title>
{% endblock title %}

{% block content %}

<body class="hold-transition login-page">
  <div class="login-box">
      <div class="login-logo">
          <b>Student</b> Management System
      </div>
      <!-- /.login-logo -->
      <div class="card">
          <div class="card-body login-card-body">
              <p class="login-box-msg">Your password has been changed successfully.</p>

              <p class="mt-2 mb-1">
                  <a href="{% url 'accounts:login' %}">Login Again ? Click Here.</a>
              </p>
          </div>
          <!-- /.login-card-body -->
      </div>
  </div>
  <!-- /.login-box -->

  <!-- scripts -->
  {% include 'scripts.html' %}

</body>

{% endblock content %}

