{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Change Password Form</title>
{% endblock title %}

{% block content %}

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>Student</b> Management System
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You are only one step a way from your new password, change your password now.</p>
        <form action="." method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form|crispy }}
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- scripts -->
  {% include 'scripts.html' %}

</body>

{% endblock content %}