{% load pagination_tags %}

{% if students.has_other_pages %}
<div class="card-footer">
    <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">
            {% if students.has_previous %}
            <li class="page-item">
                <button class="page-link"
                    data-href="{% relative_url students.previous_page_number request.GET.urlencode %}">&laquo;</button>
            </li>
            {% endif %}
            {% for i in students.paginator.page_range %}
                {% if students.number == i %}
                <li class="page-item active"><button class="page-link"
                        data-href="{% relative_url i request.GET.urlencode %}">{{ i }}</button></li>
                {% elif i > students.number|add:'-3' and i < students.number|add:'3' %}
                <li class="page-item"><button class="page-link"
                        data-href="{% relative_url i request.GET.urlencode %}">{{ i }}</button></li>
                {% endif %}
            {% endfor %}
            {% if students.has_next %}
            <li class="page-item">
                <button class="page-link"
                    data-href="{% relative_url students.next_page_number request.GET.urlencode %}">&raquo;</button>

            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}