{% load assignments_tags %}

{% for assignment in assignments %}
{% is_deadline_exceeded assignment.deadline_date assignment.allow_submission_after_deadline as is_deadline_exceeded %}
<tr {% if request.user.student in assignment.is_submitted.all %} 
    class='text-success'
    {% elif is_deadline_exceeded %}
    class='text-danger' 
    {% endif %}>
    <td>{{ assignment.subject.name }}</td>
    <td>{{ assignment.deadline_date }}</td>
    <td>{{ assignment.content|slice:":50" }} ...</td>
    <td>
        <div class="btn-group btn-group-sm">
            <button type="button"
              class="btn btn-info js-view-assignment"
              data-url="{{ assignment.get_absolute_url }}">
              <i class="fas fa-eye"></i>
            </button>
        </div>
    </td>
    {% if request.user.student in assignment.is_submitted.all %}
    <td>submitted</td>
    {% elif is_deadline_exceeded %}
    <td>Deadline is over</td>
    {% else %}
    <td>
        <div class="btn-group btn-group-sm">
            <button type="button"
              class="btn btn-success js-upload-assignment"
              data-url="{{ assignment.get_upload_absolute_url }}">
              <i class="fas fa-cloud-upload-alt"></i>
            </button>
        </div>
    </td>
    {% endif %}
</tr>
{% empty %}
<tr>
    <td colspan="6" class="text-center bg-warning"><b>No Assignments</b></td>
</tr>
{% endfor %}